{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>{{ blog_title }}</h2>
    <p>{{ blog_description }}</p>
    <hr>
    <a href="/posts/new/{{ blog_id }}"><button class=""btn btn-primary">New Post</button></a>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <h3><a href="/posts/{{ blog_id }}/{{ post._id }}">{{ post.title }}</a></h3>
            <p>{{ post.abstract }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <h4>There aren't any posts yet!</h4>
    {% endif %}
</div>
{% endblock %}